
info.threefold.io:443, wiki.threefold.io:443 {
    tls self_signed
    proxy / 127.0.0.1:3001 {    
        policy header X-My-Header
        transparent
        insecure_skip_verify
    }

}

#https://mywiki.threefold.io/